<div class="col-md-4">

    <ul class="nav nav-tabls" role="tablist">
        <li role="presentation" >
        <a href="#provider" aria-controls="provider" role="tab" data-toggle="tab">Provider Incentives</a>
        </li>
        <li role="presentation" class="active">
        <a href="#rewards" aria-controls="rewards" role="tab" data-toggle="tab">Wildlife Rewards</a>
        </li>
        <li role="presentation" >
        <a href="#contests" aria-controls="contests" role="tab" data-toggle="tab">Contests</a>
        </li>
    </ul>

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="rewards">
            <h4>Rewards</h4>
            You currently have {{myPoints}} points. Earn 100 points every day that you stay eco-friendly by:
            <ul>
                <li><span class="bg-danger">Keeping the heat below 68</span></li>
                <li><span class="bg-info">Keeping the AC above 78</span></li>
                <li><span class="bg-success">Keeping the windows closed when you use the air conditioning or heat</span></li>
                <li><span class="bg-warning">Wait until non-peak hours to do laundry</span></li>
            </ul>
            {{#each rewardTiers}}
            <div class="row">
                <div class="col-md-4">
                    <img src="/img/{{img}}" alt="{{animal}}" style="max-height: 100px; max-width: 150px; ">
                </div>
                <div class="col-md-8">
                    <ul>
                        <li>{{description}}</li>
                        <li>{{points}} points
                        {{#if (lookup @root.animals animal)}}
                        <span class="bg-success">Already Purchased</span>
                        {{else}}
                        {{#compare @root.myPoints points operator=">="}}<button type="button" data-points={{points}} data-animal={{animal}} class="btn btn-primary redeem">Add to eco park</button>{{/compare}}
                        {{/if}}
                        </li>
                    </ul>
                </div>
            </div>
            {{/each}}
        </div>

        <div role="tabpanel" class="tab-pane" id="provider">
            <h4>Provider Incentives for your Area</h4>
            {{#each providerIncentives}}
            <h5>{{providerName}}</h5>
            <ul>
                <li>{{description}}</li>
                <li>{{requirements}}</li>
            </ul>
            {{/each}}
        </div>


        <div role="tabpanel" class="tab-pane" id="contests">
            <h4>Contests</h4>
            {{#each contests}}
            <ul>
                <li>{{description}}</li>
            </ul>
            {{/each}}
        </div>

    </div>
</div>
